<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Edit <%=attraction.theme%>'s Info</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/attractions">Attractions Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Attraction Attributes:</h2>
			<form action="/attractions/<%=attraction._id%>?_method=PUT" method="post">
				<select name="areaId">
                    <% for(var i = 0; i < areas.length; i++) { %>
						<option><%=areas[i].name%></option>
                    <% } %>
                </select><br/>
				<input type="text" name="theme" value="<%=attraction.theme%>"/><br/>
				<textarea name="description"><%=attraction.description%></textarea><br/>
				<input type="submit" value="Update Attraction"/>
			</form>
		</main>
	</body>
</html>
