<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1><%=attraction.theme%></h1><%=area.name%><%=area.id%>
			<small>located in: <a href="/areas/<%=area.id%>/edit><%=area.name%>"</a></small>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/attractions">Attractions Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<%=attraction.description%>
			</section>
			<section>
			    <form action="/attractions/<%=attraction._id%>?_method=DELETE" method="post">
			        <input type="submit" value="Delete Attraction"/>
			    </form>
			</section>
			<section>
			    <a href="/attractions/<%=attraction._id%>/edit">Edit</a>
			</section>
		</main>
	</body>
</html>
