<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1><%=attraction.theme%></h1>
			<small>Located in: <a href="/areas/<%=area._id%>"><%=area.name%></a></small>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/attractions">Attractions Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h2>Your Disney Friends Found Here</h2>
				<%=attraction.characters%>
				<h2>Exciting Memories</h2>
				<%=attraction.description%>
			</section>
			<section>
			    <form action="/attractions/<%=attraction._id%>?_method=DELETE" method="POST">
			        <input type="submit" value="Delete Attraction"/>
			    </form>
			</section>
			<section>
			    <a href="/attractions/<%=attraction._id%>/edit">Edit</a>
			</section>
		</main>
	</body>
</html>
