<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Show Page for <%=area.name%></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/areas">Area Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h2>Area Attributes:</h2>
				<ul>
					<li>Name: <%=area.name%></li>
				</ul>
			</section>
			<section>
				<h2>Attractions Wihtin This Area</h2>
				<ul>
					<% for(var i = 0; i < area.attractions.length; i++){ %>
						<li><a href="/attractions/<%=area.attractions[i]._id%>"><%=area.attractions[i].title%></a></li>
					<% } %>
				</ul>
			</section>
			<section>
				<a href="/areas/<%=area._id%>/edit">Edit</a>
			</section>
            <section>
				<form action="/areas/<%=area._id%>?_method=DELETE" method="post">
					<input type="submit" value="Delete Area"/>
				</form>
			</section>
		</main>
	</body>
</html>
