<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="/css/nav.css">
	</head>
	<body>

		<header>
		  <div id="nav">
		    <ul>
		        <li><a href="/">Home</a></li>
		        <li><a href="/areas">Areas</a></li>
		        <li><a href="/attractions">Attractions</a></li>
		    </ul>
		  </div>
		</header>

		<main>
			<section>
				<h1>Current Area</h1>
				<ul>
					<li>Name: <%=area.name%></li>
				</ul>
			</section>
			<section>
				<h2>Attractions Within this Area</h2>
				<ul>
					<% for(var i = 0; i < area.attractions.length; i++){ %>
						<li><a href="/attractions/<%=area.attractions[i]._id%>"><%=area.attractions[i].theme%></a></li>
					<% } %>
				</ul>
			</section>
			<section>
				<a href="/areas/<%=area._id%>/edit">Edit</a>
			</section>
            <section>
				<form action="/areas/<%=area._id%>?_method=DELETE" method="post">
					<input type="submit" value="Delete Area"/>
				</form>
			</section>
		</main>
	</body>
</html>
